<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link rel="shortcut icon" href="{{ asset('media/potplane_logo.png') }}" type="image/x-icon">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>

<form action="/register" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 max-w-[600px] mx-auto">
    <h1 class="text-2xl mb-4">Register A User</h1>

    <div class="mb-6">
        <label for="username" class="block mb-2 uppercase font-bold text-xs text-gray-700">Username</label>
        <input type="text" class="border border-gray-400 p-2 w-full" name="username" id="username" required>

    </div>

    <div class="mb-6">
        <label for="password" class="block mb-2 uppercase font-bold text-xs text-gray-700">Password</label>
        <input type="password" class="border border-gray-400 p-2 w-full" name="password" id="password" required>

    </div>
    <div class="mb-6">
        <button type="submit" class="bg-blue-400 text-white rounded py-2 px-4 hover:bg-blue-500">Register</button>
    </div>
</form>
</body>
</html>